@model ENTIDAD.Permiso
<h2>Crear permiso para empleado</h2>
<div class="row">
    <div class="col-md-4">
        <div>
            <img src="~/Images/permisos.jpg" class="img-responsive img-thumbnail" alt="Salida Empleados" />
        </div>
    </div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <input id="idEmpleado" name="idEmpleado" type="hidden" value="@ViewBag.idEmpleado">
        <div class="col-md-4">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label">Desde</label>
                <div>
                    <input type="date" class="form-control" id="Desde" name="Desde" />
                    @Html.ValidationMessageFor(model => model.Desde, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Hasta</label>
                <div>
                    <input type="date" class="form-control" id="Hasta" name="Hasta" />
                    @Html.ValidationMessageFor(model => model.Hasta, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Comentarios</label>
            <div>
                <textarea class="form-control" id="Comentarios" name="Comentarios"> </textarea>
                @Html.ValidationMessageFor(model => model.Comentarios, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div>
                <a href="@Url.Action("ListaEmpleadosPermisos", "Permiso")" class="btn btn-info">Regresar</a>
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </div>
    }
</div>

