@model IEnumerable<ENTIDAD.PermisoLS>


<div>
    <h1>Todos los Permisos</h1>
</div>
<table class="table table-striped table-hover table-bordered" id="tablaPermiso" style="width:100%">
    <thead>
        <tr>
            <th>
                Empleado
            </th>
            <th>
                Desde
            </th>
            <th>
                Hasta
            </th>
            <th>
                Comentarios
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @item.Apellidos  @item.Nombres
                </td>
                <td>
                    @item.Desde.ToString("ddd, MMMM, yyyy ")
                </td>
                <td>
                    @item.Hasta.ToString("ddd, MMMM, yyyy ")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentarios)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a href="@Url.Action("Index", "Informe")" class="btn btn-info">Regresar</a>
    <a href="@Url.Action("ListaEmpleadosVerPermisos", "Permiso")" class="btn btn-primary">Permisos por empleado</a>

</div>
@section scripts{
    <script>
        $(document).ready(function () {
            // Setup - add a text input to each footer cell
            $('#tablaPermiso thead tr').clone(true).appendTo('#tablaPermiso thead');
            $('#tablaPermiso thead tr:eq(1) th').each(function (i) {
                var title = $(this).text().trim().toLowerCase();
                console.log(`Es es el titulo "${title}"`);
                $(this).html('<input type="text" class="form-control" placeholder="Buscar ' + title + '" />');

                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });

            var table = $('#tablaPermiso').DataTable({
                orderCellsTop: true,
                fixedHeader: true,
                responsive: true
            });
        });
    </script>
}