<h1>Informes</h1>
<div class="row">
    <div class="col-xs-6 col-sm-4">
        <a href="@Url.Action("Index", "Empleado")">
            <img src="~/Images/empleado.jpg" class="img-responsive img-thumbnail" alt="Empleados">
        </a>
        <h4 class="label label-primary">Empleados</h4>
    </div>
    <div class="col-xs-6 col-sm-4">
        <a href="@Url.Action("Index", "Nomina")">
            <img src="~/Images/nomina.jpg" class="img-responsive img-thumbnail" alt="Nominas">
        </a>
        <h4 class="label label-primary">Nóminas</h4>
    </div>

    <div class="col-xs-6 col-sm-4">
        <a href="@Url.Action("Index", "Departamento")">
            <img src="~/Images/departamento.jpg" class="img-responsive img-thumbnail" alt="Departamentos">
        </a>
        <h4 class="label label-primary">Departamentos</h4>
    </div>

    <div class="col-xs-6 col-sm-4">
        <a href="@Url.Action("Index", "Cargo")">
            <img src="~/Images/cargo.jpg" class="img-responsive img-thumbnail" alt="Cargos">
        </a>
        <h4 class="label label-primary">Cargos</h4>
    </div>

    <div class="col-xs-6 col-sm-4">
        <a href="@Url.Action("Index", "Permiso")">
            <img src="~/Images/permisos.jpg" class="img-responsive img-thumbnail" alt="Permisos">
        </a>

        <h4 class="label label-primary">Permisos</h4>
    </div>
    <div class="col-xs-6 col-sm-4">
        <a href="@Url.Action("Index", "SalidaEmpleado")">

            <img src="~/Images/despedir.jpg" class="img-responsive img-thumbnail" alt="Empleados">
        </a>

        <h4 class="label label-primary" >Salida Empleados</h4>
    </div>
</div>
